.footer {
  display: flex;
  justify-content: space-around;
  background-color: $header-bg;
  color: white;
  width: 100%;
  padding: 1rem;
  @media #{$mobile} {
    text-align: center;
    flex-wrap: wrap;
  }
  .footer__copyright {
    width: 100%;
  }
  .footer__links {
    width: 350px;
    display: flex;
    justify-content: space-around;
  }
  .footer__link {
    color: white;
    &:hover {
      color: white;
    }
  }
}
