.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $header-bg;
  color: white;
  padding: 1rem 2rem;
  .header__logo {
    display: flex;
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $header-bg;
  color: white;
  @media #{$mobile} {
    text-align: center;
    flex-wrap: wrap;
  }
  .footer__copyright {
    display: flex;
    align-items: center;
  }
}
